:root{
    color-scheme: light;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kedebideri', sans-serif;
}

.quote-form-container {
  max-width: 480px;
  margin: 40px auto;
  background: #fff;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
  font-family: Arial, sans-serif;
}

.quote-form-container h2 {
  text-align: center;
  margin-bottom: 10px;
}

.quote-form-container p {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-bottom: 30px;
}

label {
  margin-top: 15px;
  display: block;
  font-weight: bold;
  color: #444;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.reset-btn,
.submit-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

.reset-btn {
  background: #eee;
}

.submit-btn {
  background: #000;
  color: white;
}

.nav_container{
    display: flex;
    /*border: 2px solid rgb(197, 13, 13);*/
    width: 100%;
    align-items: center;
    padding-left: 40px;
    background-color: #ffff;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    
}

.nav_container .navlinks{ /*.navlinks=ul*/
    list-style: none;
    display: flex;
    color: black;
    gap: 32px;
    /*border: 2px solid black;*/
    margin-right: 30px;
}

.navlinks a{
    text-decoration: none;
    color: black;
    font-weight: normal;
    position: relative;
    cursor: pointer;
    transition: font-weight 0.3s ease, color 0.3s ease;
}

.nav_container .navlinks a:hover{
    font-weight: bold;
}

.nav_container .navlinks a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}
    
.nav_container .navlinks a:hover::after{
    width: 100%;
}

#nav_cta a{ /*Get a quick quote button*/
    background-color: rgb(0, 0, 0);
    color: #ffff;
    padding: 9px;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    transition: all ease 0.3s;
}

#nav_cta a:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.hamburger{
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span{
    width: 25px;
    height: 3px;
    background-color: #000000;
    transition: all 0.3s;
}

/*Navbar to ham menu */
@media (max-width: 600px) {

    #nav_cta a{
        text-decoration: none;
        color: black;
        font-weight: normal;
        position: relative;
        cursor: pointer;
        transition: font-weight 0.3s ease, color 0.3s ease;
        background-color: #ffffff;
        padding: 10px;
        display: block;
        border-radius: 8px;
    }

    .hamburger{
        display: flex;
        margin: 12px;
    }

    .navlinks{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #0a2e20;
        flex-direction: column;
        width: 70%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        gap: 20px !important ;
        z-index: 1000;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-right: 0 !important ;
        
    }

    .navlinks.active{
        max-height: 350px;
    }

    .navlinks li{
        padding: 10px;
        border-top: 1px solid #444;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

    .navlinks a{
        color: white;
    }


}
